{% extends "layout.html" %}
{% load bootstrap4 %}
{% load static %}
{% block main %}

<div class="row p-1 bg-dark text-white">
    <div class="col-4 "></div>
    <div class="col-4 text-white font-weight-bold" style="display:flex;justify-content:center;align-items:center">
        <p style="margin:0px">平面圖</p>
    </div>
    <div class="col-4 ">
        <button class='float-right' type="button"
            style="background-color: transparent;border-color: transparent;margin:0px;" data-toggle="modal"
            data-target="#exampleModal"><img src="/static/planargraphs/add.png" style=width:40px;>
        </button>
        <div class="modal fade mt-5" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style=color:black>平面圖</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% bootstrap_form form %}

                            {% buttons %}
                            <button type="submit" class="btn btn-primary">送出
                            </button>
                            {% endbuttons %}
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="rol">


    <div style="text-align:center;margin-top:10px;">
        {% for planargraph in planargraphs %}
        <div class="btn-group dropright">
            <button style="background-color: transparent;border-color: transparent;padding:0px 20px 0px 20px;"
                class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2{{planargraph.name}}"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/static/planargraphs/square.png" style=width:100px;margin:0px;>
                <h5 style=color:black;margin:0px;>{{planargraph.name}}</h5>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="text-align:center;">
                <a class="btn dropdown-item" href="{% url 'planargraphs:space_show' planargraph.pk %}"
                    role="button">進入平面圖</a>
                <a class="btn dropdown-item" href="{% url 'planargraphs:planargraph_edit' planargraph.pk %}"
                    role="button">編輯平面圖</a>
                <a class="btn dropdown-item" href="{% url 'planargraphs:planargraph_delete' planargraph.pk %}"
                    role="button">刪除平面圖</a>
            </div>
        </div>
        {% endfor %}
    </div>



</div>




{% endblock %}