{% extends "layout.html" %}
{% load bootstrap4 %}
{% block main %}
<div class="row">
    <div class="col col-md-8 offset-md-2 col-lg-6 offset-lg-3" style="text-align:center;margin-top:20px;">
        <h1>刪除{{spaces.planargraph}}{{spaces.name}}空間</h1>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <a class="btn btn-primary" href="../../" role="button">否</a>

            <button type="submit" class="btn btn-primary">
                是
            </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock  %}